django_distill
django-compressor
django-extensions
django-sass-processor
django-taggit
Django
djlint
isort
libsass
psycopg2-binary
python-dotenv
requests
unidecode
wagtail-localize
wagtail-markdown
wagtail-modeladmin
wagtail
wagtailmenus
dotenv